#header {
    position: fixed;
    width: 18%;
  }
  #header .pro-sidebar {
    height: 100vh;
  }
  #header .closemenu {
    color: #5664D2;
    position: absolute;
    right: 0;
    z-index: 9999;
    line-height: 20px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 22px;
    top: 55px;
    cursor: pointer;
  }
  #header .pro-sidebar {
    width: 100%;
    min-width: 100%;
  }
  #header .pro-sidebar.collapsed {
    width: 80px;
    min-width: 80px;
  }
  #header .pro-sidebar-inner {
    background-color: #FFFFFF;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.11)
    /* box-shadow: 0.5px 0.866px 2px 0px rgba(0, 0, 0, 0.15); */
  }
  /* #header .pro-sidebar-inner .pro-sidebar-layout {
    overflow-y: hidden;
  } */
  #header .pro-sidebar-inner .pro-sidebar-layout .logotext p {
    font-size: 20px;
    padding: 15px 20px;
    color: #5664D2;
    font-weight: bold;
  }
  .item-text:hover{
    color: #5664D2 !important;
  }
  #header .pro-sidebar-inner .pro-sidebar-layout ul {
    padding: 0 0px;
  }
  #header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item {
    color: #5664D2;
    /* margin: 10px 0px; */
    font-weight: bold;
  }
  #header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item .pro-icon-wrapper {
    background-color: #fff;
    color: #5664D2;
    border-radius: 3px;
  }
  #header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item .pro-icon-wrapper .pro-item-content {
    color: #000;
  }
  #header .pro-sidebar-inner .pro-sidebar-layout .active {
    /* background-color: #98A5E5;
    color: #fff; */
  }
  #header .logo {
    padding: 20px;
  }
  
  @media only screen and (max-width: 720px) {
    html {
      overflow: hidden;
    }
  }