@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500,700);

p { 
    font-family: "Raleway";
     font-size: 12px; 
     line-height: 20px;
     color: #727272;
     padding: 10px 0;
     margin: 0;
   }
